{#
  title:  doc.html
  author: ntrifunovic
#}

{% extends "base.html" %}

{% block extra_scripts %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true
    },
  });
</script>
<script
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endblock %}

{% block title%}
{% call pritty_title(output) %}{% endcall %}
{% endblock %}

{% block up_title %}
{% call full_title(output) %}{% endcall %}
{% endblock %}

{% block content %}
   {{ super() }}
   <hr>
   {# DISQUS #}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'ntrifunovic'; // required: replace example with your forum shortname
	var disqus_title = '{{ output.topic }}\\{{ output.title }}';
	var disqus_identifier = '{{ output.topic }}\\{{ output.title }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
{% endblock content %}
