{#
  title: index.html
  author: ntrifunovic
#}

{% extends "base.html" %}

{% block extra_scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/naslovna.css') }}">
{% endblock %}

{% block title %}
    <h1>
	DOBRO DOSLI	:)
    </h1>
{% endblock %}

{% block content %}
  <h2 class = "spaceless">Moje raznorazne slike:</h2>

{% endblock %}
